footer {
  /* position: absolute; */
  bottom: 20px;
  text-align: center;
  background-color:#333;
  color:white;
  padding:20px;
}

footer a {
  color:white;
}

footer h4 a {
  color:white;
  text-decoration: none;
}
