.grid {
  display: inline-block;
  border: 1px solid black;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: white;
}

.cell.alive {
  background-color: black;
}
